.candy-crush{
    display: flex;
}

.board{
    height: 585px;
    width: 585px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;

    display: flex;
    flex-wrap: wrap;
}

.board img{
    width: 65px;
    height: 65px;
    border-radius: 0;

    animation: fall 100ms ease-in;
    @keyframes fall {
        0% { transform: translateY(-65px); }
        100% { transform: translateY(0); }
    }
}