.card{
    width: 130px;
    height: 210px;
    border: 6px solid white;
    border-radius: 15px;
    font-weight: 900;
    position: relative;
    -webkit-text-stroke-color: black;
}

.corner-symbol{
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    position: absolute;
    -webkit-text-stroke-width: 1px;
    text-shadow: 1px 2px 2px black;
}

#top-left{
    top: 3px;
    left: 3px;
}

#bottom-right{
    bottom: 3px;
    right: 3px;
    transform: rotateY(0deg) rotate(180deg);
}

.main-symbol{
    background-color: white;
    width: 90px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 70px;
    position: absolute;
    top: 30px;
    left: 20px;
    transform: rotateY(0deg) rotate(45deg);
    -webkit-text-stroke-width: 2px;
    text-shadow: 1px 2px 2px black;
}

#main-span{
    transform: rotateY(0deg) rotate(-45deg);
}

#corner-span{
    position: absolute;
    bottom: 0px;
}

.red{
    background-color: red;
    color: red;
}
.blue{
    background-color: blue;
    color: blue;
}
.green{
    background-color: green;
    color: green;
}
.yellow{
    background-color: yellow;
    color: yellow;
}
.colorChange{
    background-color: black;
    color: black;
}