.card{
    border: 6px solid white;
    border-radius: 15px;
    font-weight: 650;
    position: relative;
    -webkit-text-stroke-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
 
    @keyframes cardFlowIn {
        from {
            transform: translateY(120px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    animation: cardFlowIn 0.5s ease-out;
}

.horizontal{
    width: 147px;
    height: 91px;
}

.vertical{
    width: 91px;
    height: 147px;
}

.symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.main-symbol{
    -webkit-text-stroke-width: 2px;
    text-shadow: 1px 2px 2px black;
    font-size: 42px;
    transform: rotate(45deg);
}

#main-span-left{
    transform: rotate(0deg);
}
#main-span-right{
    transform: rotate(-180deg);
}
#main-span-down{
    transform: rotate(-90deg);
}
#main-span-up{
    transform: rotate(90deg);
}
#main-span-front{
    transform: rotate(-45deg);
}

.corner-symbol{
    background-color: white;
    width: 28px;
    height: 28px;
    font-size: 21px;
    position: absolute;
    -webkit-text-stroke-width: 1px;
    text-shadow: 1px 2px 2px black;
}

#top-left{
    top: 3px;
    left: 3px;
}

#bottom-right{
    bottom: 3px;
    right: 3px;
    transform: rotate(180deg);
}

.front-symbol{
    background-color: white;
}

.back-symbol{
    background-color: red;
    color: yellow;
}

.vertical-symbol{
    width: 63px;
    height: 105px;
}

.horizontal-symbol{
    width: 105px;
    height: 63px;
}

.red{
    background-color: red;
    color: red;
}
.blue{
    background-color: blue;
    color: blue;
}
.green{
    background-color: green;
    color: green;
}
.yellow{
    background-color: yellow;
    color: yellow;
}
.changeColor{
    background-color: black;
    color: black;
}

.back-side{
    background-color: black;
}



