.card{
    width: 91px;
    height: 147px;
    border: 6px solid white;
    border-radius: 15px;
    font-weight: 650;
    position: relative;
    -webkit-text-stroke-color: black;
}

.corner-symbol{
    background-color: white;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    font-size: 21px;
    position: absolute;
    -webkit-text-stroke-width: 1px;
    text-shadow: 1px 2px 2px black;
}

#top-left{
    top: 3px;
    left: 3px;
}

#bottom-right{
    bottom: 3px;
    right: 3px;
    transform: rotateY(0deg) rotate(180deg);
}

.main-symbol{
    background-color: white;
    width: 63px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 49px;
    position: absolute;
    top: 21px;
    left: 14px;
    transform: rotate(45deg);
    -webkit-text-stroke-width: 2px;
    text-shadow: 1px 2px 2px black;
}

#main-span{
    transform: rotateY(0deg) rotate(-45deg);
}

#corner-span{
    position: absolute;
    bottom: 0px;
}

.red{
    background-color: red;
    color: red;
}
.blue{
    background-color: blue;
    color: blue;
}
.green{
    background-color: green;
    color: green;
}
.yellow{
    background-color: yellow;
    color: yellow;
}
.changeColor{
    background-color: black;
    color: black;
}

.back-side{
    background-color: black;
}
.back-symbol{
    background-color: red;
    width: 63px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 42px;
    position: absolute;
    top: 21px;
    left: 14px;
    transform: rotateY(0deg) rotate(45deg);
    -webkit-text-stroke-width: 2px;
    text-shadow: 1px 2px 2px black;
    color: yellow;
}
#back-span{
    transform: rotateY(0deg) rotate(-90deg);
}