.leaderboard{
    background-color: rgb(46, 1, 46);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;

    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto;
    padding: 0 10px 0 10px;

    height: fit-content;
}

.left{
    left: -140px;
}

.right{
    right: -140px;
}

h2{
    color:aquamarine
}

.username-column{
    text-align: left;
}

.score-column{
    padding-left: 8px;
    text-align: right;
    width: 100%;
}

tr:nth-of-type(1){
    color: gold;
}
tr:nth-of-type(2){
    color: rgb(172, 172, 172);
}
tr:nth-of-type(3){
    color: brown;
}