#player-tag{
    width: 200px;
    height: 45px;
    display: flex;
    background-color: #832bc6;
    padding: 5px;
    border-radius: 15px 5px 15px 5px;
}

#player-photo{
    width: 45px;
    height: inherit;
}

#player-name{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
}