#player-tag{
    width: 140px;
    height: 31px;
    display: flex;
    background-color: #832bc6;
    padding: 5px;
    border-radius: 15px 5px 15px 5px;
}

#player-photo{
    width: 31px;
    height: inherit;
}

#player-name{
    font-size: 21px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}