.ant{
    background: linear-gradient(45deg, rgba(151, 89, 66, 0.97) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgb(101, 39, 16)
}

.badger{
    background: linear-gradient(45deg, rgba(149, 144, 141, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(89, 84, 81, 0.99)
}

.bat{
    background: linear-gradient(45deg, rgba(136, 111, 107, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(76, 51, 47, 0.99);
}

.beaver{
    background: linear-gradient(45deg, rgba(166, 122, 95, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(106, 62, 35, 0.99);
}

.beetle{
    background: linear-gradient(45deg, rgba(117, 112, 129, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(57, 52, 69, 0.98);
}

.blowfish{
    background: linear-gradient(45deg, rgba(255, 221, 198, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(212, 181, 138, 0.98);
}

.bug{
    background: linear-gradient(45deg, rgba(208, 241, 113, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(148, 181, 53, 0.99);
}

.butterfly{
    background: linear-gradient(45deg, rgba(202, 135, 98, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(142, 75, 38, 0.99);
}

.cat{
    background: linear-gradient(45deg, rgba(159, 155, 150, 0.97) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(99, 95, 90, 0.97);
}

.chipmunk{
    background: linear-gradient(45deg, rgba(212, 168, 123, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(152, 108, 63, 0.99);
}

.cockroach{
    background: linear-gradient(45deg, rgba(168, 100, 61, 0.96) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(108, 40, 1, 0.96);
}

.crab{
    background: linear-gradient(45deg, rgba(238, 122, 138, 0.95) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(178, 62, 78, 0.95);
}

.cricket{
    background: linear-gradient(45deg, rgba(156, 128, 114, 0.97) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(96, 68, 54, 0.97);
}

.deer{
    background: linear-gradient(45deg, rgba(212, 163, 122, 0.97) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(152, 103, 62, 0.97);
}

.dog{
    background: linear-gradient(45deg, rgba(249, 202, 167, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(189, 142, 107, 0.99);
}

.dolphin{
    background: linear-gradient(45deg, rgba(207, 224, 239, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(147, 164, 179, 0.99);
}

.dove{
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(212, 209, 204, 0.98);
}

.duck{
    background: linear-gradient(45deg, rgba(201, 177, 139, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(141, 117, 79, 0.99);
}

.ewe{
    background: linear-gradient(45deg, rgba(255, 254, 254, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(195, 194, 194, 0.99);
}

.fish{
    background: linear-gradient(45deg, rgba(150, 207, 255, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(90, 147, 203, 0.99);
}

.flamingo{
    background: linear-gradient(45deg, rgba(255, 189, 199, 0.97) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(224, 129, 139, 0.97);
}

.fly{
    background: linear-gradient(45deg, rgba(149, 147, 136, 0.95) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(89, 87, 76, 0.95);
}

.goat{
    background: linear-gradient(45deg, rgba(236, 217, 202, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(176, 157, 142, 0.98);
}

.hedgehog{
    background: linear-gradient(45deg, rgba(191, 169, 147, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(131, 109, 87, 0.98);
}

.honeybee{
    background: linear-gradient(45deg, rgba(206, 172, 123, 0.95) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(146, 112, 63, 0.95);
}

.horse{
    background: linear-gradient(45deg, rgba(175, 126, 101, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(115, 66, 41, 0.98);
}

.jellyfish{
    background: linear-gradient(45deg, rgba(181, 142, 244, 0.90) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(121, 82, 184, 0.72);
}

.kangaroo{
    background: linear-gradient(45deg, rgba(246, 191, 150, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(186, 131, 90, 0.98);
}

.lady-beetle{
    background: linear-gradient(45deg, rgba(204, 113, 105, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(144, 53, 45, 0.99);
}

.lizard{
    background: linear-gradient(45deg, rgba(121, 202, 105, 0.97) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(61, 142, 45, 0.97);
}

.lobster{
    background: linear-gradient(45deg, rgba(224, 89, 65, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(164, 29, 5, 0.98);
}

.monkey{
    background: linear-gradient(45deg, rgba(200, 165, 133, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(140, 105, 73, 0.99);
}

.mosquito{
    background: linear-gradient(45deg, rgba(170, 113, 88, 0.97) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(110, 53, 28, 0.97);
}

.mouse{
    background: linear-gradient(45deg, rgba(233, 209, 197, 0.96) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(173, 149, 137, 0.96);
}

.octopus{
    background: linear-gradient(45deg, rgba(255, 172, 187, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(205, 112, 127, 0.99);
}

.otter{
    background: linear-gradient(45deg, rgba(163, 139, 118, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(103, 79, 58, 0.99);
}

.owl{
    background: linear-gradient(45deg, rgba(233, 200, 163, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(173, 140, 103, 0.99);
}

.parrot{
    background: linear-gradient(45deg, rgba(234, 188, 145, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(174, 128, 85, 0.98);
}

.peacock{
    background: linear-gradient(45deg, rgba(146, 205, 152, 0.96) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(86, 145, 92, 0.96);
}

.penguin{
    background: linear-gradient(45deg, rgba(222, 217, 219, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(162, 157, 159, 0.99);
}

.rabbit{
    background: linear-gradient(45deg, rgba(244, 202, 162, 0.96) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(184, 142, 102, 0.96);
}

.rat{
    background: linear-gradient(45deg, rgba(216, 205, 198, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(156, 145, 138, 0.98);
}

.rooster{
    background: linear-gradient(45deg, rgba(186, 141, 137, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(126, 81, 77, 0.98);
}

.scorpion{
    background: linear-gradient(45deg, rgba(214, 163, 106, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(154, 103, 46, 0.99);
}

.shrimp{
    background: linear-gradient(45deg, rgba(255, 163, 162, 0.95) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(207, 103, 102, 0.95);
}

.skunk{
    background: linear-gradient(45deg, rgba(177, 172, 169, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(117, 112, 109, 0.98);
}

.sloth{
    background: linear-gradient(45deg, rgba(190, 176, 153, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(130, 116, 93, 0.99);
}

.snail{
    background: linear-gradient(45deg, rgba(205, 173, 142, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(145, 113, 82, 0.99);
}

.snake{
    background: linear-gradient(45deg, rgba(166, 236, 151, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(106, 176, 91, 0.99);
}

.spider{
    background: linear-gradient(45deg, rgba(128, 125, 123, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(68, 65, 63, 0.98);
}

.squid{
    background: linear-gradient(45deg, rgba(255, 188, 207, 0.98) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(227, 128, 147, 0.98);
}

.turtle{
    background: linear-gradient(45deg, rgba(151, 186, 140, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(91, 126, 80, 0.99);
}

.worm{
    background: linear-gradient(45deg, rgba(255, 181, 147, 0.99) 0%, rgba(0,0,0,1) 100%);
    border: 3px solid rgba(199, 121, 87, 0.99);
}