#bottom{
    position: absolute;
    bottom: 11px;
    left: 20%;
    
    display: flex;
    flex-direction: column;
}

#left{
    position: absolute;
    left: 0;
    top: 20%;

    display: flex;
    flex-direction: column;
}

#top{
    position: absolute;
    top: 0;
    left: 50%;

    display: flex;
    flex-direction: column;
}

#right{
    position: absolute;
    right: 0;
    bottom: 40%;

    display: flex;
    flex-direction: column;
}

#center-cards{
    position: absolute;
    top: 38%;
    left: 40%;
    display: flex;
    flex-direction: row;
}

#center-cards > *{
    margin: 10px;
}

#deck{
    transition: 250ms;
}

#deck:hover{
    transform: scale(110%);
    cursor: pointer;
}

.con{
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-color: black;

    padding: 4px;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;

    position: absolute;
    top: 0;
    left: 0;
}

.b{
    background-color: blue;
}
.g{
    background-color: green;
}
.r{
    background-color: red;
}
.y{
    background-color: yellow;
}

.choice{
    cursor: pointer;
    transition: 200ms all;
}
.choice:hover{
    transform: scale(1.1);
}

#drawn-card > *{
    width: 91px;
    height: 147px;
}

#drawn-card{
    position: absolute;
    top: 230px;
    left: 300px;
}

.game-over-message{
    background-color: rgba(255, 213, 0, 1);
    color: rgba(11, 0, 26, 1);

    width: 200px;
    height: 250px;
    padding: 10px;

    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;

    animation: flow-in 0.2s ease-in;
    animation: rgb 6s linear infinite;
}

p{
    font-size: 25px;
    font-weight: bold;
}

@keyframes tint{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rgb {
    0%{
        background-color: orange;
    }
    10%{
        background-color: rgb(250, 31, 31);
    }
    20%{
        background-color: rgb(146, 5, 85);
    }
    30%{
        background-color: magenta;
    }
    40%{
        background-color: blueviolet;
    }
    50%{
        background-color: rgb(38, 35, 252);
    }
    60%{
        background-color: rgb(1, 173, 173);
    }
    70%{
        background-color: rgb(3, 193, 3);
    }
    80%{
        background-color: greenyellow;
    }
    90%{
        background-color: yellow;
    }
    100%{
        background-color: orange
    }
}

.tinted{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    animation: tint 0.5s;
}