#bottom{
    position: absolute;
    bottom: 11px;
    left: 20%;
    
    display: flex;
    flex-direction: column;
}

#left{
    position: absolute;
    left: 0;
    top: 20%;

    display: flex;
    flex-direction: column;
}

#top{
    position: absolute;
    top: 0;
    left: 50%;

    display: flex;
    flex-direction: column;
}

#right{
    position: absolute;
    right: 0;
    bottom: 40%;

    display: flex;
    flex-direction: column;
}

#center-cards{
    position: absolute;
    top: 38%;
    left: 40%;
    display: flex;
    flex-direction: row;
}

#center-cards > *{
    margin: 10px;
}

#deck{
    transition: 250ms;
}

#deck:hover{
    transform: scale(110%);
    cursor: pointer;
}

.con{
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-color: black;

    padding: 4px;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;

    position: absolute;
    top: 0;
    left: 0;
}

.b{
    background-color: blue;
}
.g{
    background-color: green;
}
.r{
    background-color: red;
}
.y{
    background-color: yellow;
}

.choice{
    cursor: pointer;
    transition: 200ms all;
}
.choice:hover{
    transform: scale(1.1);
}

#drawn-card > *{
    width: 91px;
    height: 147px;
}

#drawn-card{
    position: absolute;
    top: 230px;
    left: 300px;
}