.info-box{
    background-color: purple;
    color: white;

    height: 40px;
    width: auto;

    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;

    font-size: 30px;
    line-height: 30px;

    position: absolute;
    top: 0;
    left: 0;
}

//all of the below are optional (not implemented yet)
.danger{
    color: red;
    font-weight: bold;
}

.player-name{
    color: cyan;
    font-weight: bold;
}

.keyword{
    color: yellow;
    font-weight: bold;
}